@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.container {
    margin: 80px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
        form {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
            h1 {
                font-weight: bold;
                margin: 0;
                margin-bottom: 10px;
            }
            a {
                color: $textLink;
                font-size: 14px;
                text-decoration: none;
                margin: 15px 0;
            }
            input {
                background-color: $inputColor;
                border: none;
                padding: 12px 15px;
                margin-top: 10px;
                width: 100%;
                margin-bottom: 1px;
            }
            .error {
                display: none;
                width: 100%;
                margin: 0px;
                text-align: left;
                font-size: 12px;
                color: crimson;
                font-weight: bold;
                img {
                    width: 14px;
                    margin-right: 5px;
                }
            }
            button {
                border-radius: 20px;
                border: 1px solid $signButton;
                background-color: $signButton;
                color: white;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
            }
            button:active {
                transform: scale(0.95);
            }
            button:focus {
                outline: none;
            }
            button.ghost {
                background-color: transparent;
                border-color: white;
            }
            #sign-up-button {
                margin-top: 10px;
            }
        }
    }
    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }
    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
        .overlay {
            background: $snakeColor;
            background: -webkit-linear-gradient(to right, $snakeOutline, $snakeColor);
            background: linear-gradient(to right, $snakeOutline, $snakeColor);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            color: white;
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
            .overlay-panel {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 40px;
                text-align: center;
                top: 0;
                height: 100%;
                width: 50%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;
                h1 {
                    font-weight: bold;
                    margin: 0;
                }
                p {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    margin: 20px 0 30px;
                }
                button {
                    border-radius: 20px;
                    border: 1px solid $signButton;
                    background-color: $signButton;
                    color: white;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 12px 45px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    transition: transform 80ms ease-in;
                }
                button:active {
                    transform: scale(0.95);
                }
                button:focus {
                    outline: none;
                }
                button.ghost {
                    background-color: transparent;
                    border-color: white;
                }
            }
        }
    }
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.overlay-panel.overlay-left {
    transform: translateX(-20%);
}

.overlay-panel.overlay-right {
    right: 0;
    transform: translateX(0);
}

//Sign in button style
button {
    cursor: pointer;
}