body {
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    .wrapper {
        margin: 20px 12.5%;
        #search-section {
            width: 90%;
            margin: auto;
            margin-bottom: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            #discover {
                font-size: 24px;
            }
            .search {
                margin-top: 15px;
                float: right;
                position: relative;
                #search-bar {
                    border: solid 3px black;
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 10px;
                    height: 40px;
                    width: 250px;
                    position: absolute;
                    right: 0px;
                    font-size: 16px;
                }
                #search-button {
                    position: absolute;
                    right: 0px;
                    z-index: 1;
                    background-color: white;
                    height: 40px;
                    width: 45px;
                    img {
                        margin-top: 7.5%;
                        width: 90%;
                        height: 80%;
                    }
                    border: solid 3px black;
                    border-left: none;
                    border-radius: 0px 5px 5px 0px;
                    cursor: pointer;
                }
                #search-bar:focus {
                    box-shadow: 0 0 10px $snakeColor;
                    color: $snakeOutline;
                }
            }
        }
        #slick-slider {
            margin: auto;
            width: 90%;
            border: 3px solid $snakeColor;
            border-radius: 5px;
            #slider {
                width: 100%;
                display: flex;
                #img-slider {
                    width: 60%;
                    img {
                        width: 100%;
                    }
                }
                #about {
                    position: relative;
                    width: 40%;
                    background-color: white;
                    #text-slider {
                        position: relative;
                        padding: 10%;
                        padding-top: 15%;
                        color: black;
                        height: 100%;
                        .slick-list {
                            height: 100%;
                            .slick-track {
                                height: 100%;
                            }
                        }
                        .slickArrow {
                            position: absolute;
                            top: 8%;
                            left: 7.5%;
                            width: 20%;
                            cursor: pointer;
                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .slickArrow-next {
                            left: 22.5%;
                        }
                        .slick-dots {
                            position: absolute;
                            top: 10%;
                            right: 7.5%;
                            width: 50%;
                            li {
                                float: right;
                                button::before {
                                    font-size: 50px;
                                }
                            }
                        }
                    }
                    .learn-more {
                        position: absolute;
                        bottom: 0%;
                        z-index: 1;
                        text-decoration: none;
                        width: auto;
                        height: 25px;
                        cursor: pointer;
                        h5 {
                            position: relative;
                            font-size: 16px;
                            display: block;
                            width: auto;
                            height: 25px;
                            margin-top: 0px;
                            color: black;
                            display: inline-block;
                            img {
                                position: absolute;
                                right: -25px;
                                top: 0px;
                                width: 20px;
                                height: 20px;
                                &:hover {
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                        &:hover {
                            img {
                                right: -30px;
                            }
                        }
                    }
                }
            }
        }
        .product-demo {
            margin-top: 50px;
            display: grid;
            grid-template-rows: 1fr 6fr;
            width: 100%;
            .section-title {
                width: 100%;
                .title {
                    float: left;
                    margin-left: 1.75%;
                }
                .show-more {
                    float: right;
                    margin-right: 1.75%;
                    margin-top: 1%;
                    border: 3px solid black;
                    border-radius: 5px;
                    background-color: white;
                    color: black;
                    height: 40px;
                    width: 140px;
                    text-decoration: none;
                    text-align: center;
                    padding-top: 7.5px;
                    font-size: 17px;
                    font-weight: bold;
                    &:focus {
                        box-shadow: 0 0 10px $snakeColor;
                    }
                }
            }
            .product-list {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .product {
                    position: relative;
                    width: 90%;
                    margin: auto;
                    border: 3px solid $snakeColor;
                    height: 450px;
                    .product-image {
                        width: 100%;
                    }
                    .product-name {
                        margin-top: 5px;
                        width: 100%;
                        font-size: 16px;
                        margin-bottom: 0px;
                        padding-left: 10px;
                    }
                    .product-description {
                        width: 100%;
                        font-size: 14px;
                        margin-top: 5px;
                        padding-left: 10px;
                        margin-bottom: 0px;
                    }
                    .product-price {
                        width: 100%;
                        font-size: 18px;
                        font-weight: bold;
                        color: $snakeOutline;
                        padding-left: 10px;
                        margin-top: 5px;
                        position: absolute;
                        bottom: 0px;
                    }
                }
            }
        }
        .info-demo {
            height: 400px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 50px;
            margin-bottom: 50px;
            .section-image {
                width: 80%;
                margin: auto;
            }
            .section-text {
                position: relative;
                width: 80%;
                height: 80%;
                color: white;
                margin: auto;
                margin-top: 10%;
                .section-title {
                    font-size: 40px;
                    font-weight: bold;
                    margin-bottom: 10px
                }
                .section-description {
                    color: #eee;
                    font-size: 20px;
                }
                .learn-more {
                    position: absolute;
                    bottom: 20%;
                    border: none;
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                    width: 200px;
                    height: 50px;
                }
            }
        }
        .about-survey {
            background-color: $surveySectionBackground;
            .section-text {
                .learn-more {
                    background-color: $surveySectionButton;
                }
            }
            .save-coins {
                width: 100%;
            }
        }
        .future-update {
            background-color: $signButton;
            .section-text {
                .learn-more {
                    background-color: #da3f24;
                }
            }
            .card-images {
                width: 100%;
            }
        }
    }
}