//colors
$snakeOutline: #1cbbb4;
$snakeColor: #cef048;
$coneOutline: #bc702c;
$coneColor: #b55806;
$background: #f6f5f7;
$signButton: #FF4B2B;
$textLink: #333;
$inputColor: #eee;
$surveySectionBackground: #8ab870;
$surveySectionButton: #5f9341;