@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800);@charset "UTF-8";

.mainCopyright {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #1cbbb4;
}

.mainCopyright p {
  position: absolute;
  width: 100%;
  color: white;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
}

body {
  margin: 0 10px;
  padding: 0;
}

body .main-nav {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 16fr 2fr;
  margin: 0 auto;
  border-bottom: 3px solid #cef048;
}

body .main-nav .logo_div .logo {
  margin-left: 20px;
  width: 70px;
  height: 70px;
}

body .main-nav .logo_div .logo a {
  display: inline;
}

body .main-nav .logo_div .logo a img {
  width: 200%;
}

body .main-nav .navbar ul {
  float: right;
  margin-top: 0;
  margin-right: 50px;
}

body .main-nav .navbar ul li {
  float: left;
  width: 120px;
  text-align: center;
  list-style: none;
  line-height: 70px;
}

body .main-nav .navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}

body .main-nav .navbar ul li a button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

body .main-nav .navbar ul li a:hover {
  color: white;
}

body .main-nav .navbar ul li a:focus {
  outline: none;
}

body .main-nav .navbar ul li:hover {
  background-color: #cef048;
}

body .main-nav .user {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

body .main-nav .user .cart img {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

body .main-nav .user .avatar {
  display: block;
  position: relative;
}

body .main-nav .user .avatar img {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

body .main-nav .user .avatar .avatar-menu {
  display: none;
  position: absolute;
  background-color: #f6f5f7;
  width: 150px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 70px;
  right: 0px;
}

body .main-nav .user .avatar .avatar-menu ul {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #f6f5f7;
}

body .main-nav .user .avatar .avatar-menu ul li {
  position: relative;
  right: 40px;
  width: 150px;
  display: block;
  margin: auto;
  text-align: center;
  list-style: none;
  line-height: 50px;
}

body .main-nav .user .avatar .avatar-menu ul li #user-name {
  margin: 0px 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #cef048;
}

body .main-nav .user .avatar .avatar-menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}

body .main-nav .user .avatar .avatar-menu ul li a:hover {
  font-size: 14px;
}

body .main-nav .user .avatar .avatar-menu ul li a:focus {
  outline: none;
}

body .main-nav .user .avatar .avatar-menu ul li button {
  width: 120px;
  border-radius: 10px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

body .main-nav .user .avatar .avatar-menu ul li button:active {
  transform: scale(0.95);
}

body .main-nav .user .avatar .avatar-menu ul li button:focus {
  outline: none;
}

body .main-nav .user .avatar .avatar-menu ul li button.ghost {
  background-color: transparent;
  border-color: white;
}

body .main-nav .user .avatar:hover .avatar-menu {
  display: block;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url(/images/ajax-loader.gif?c5cd7f5300576ab4c88202b42f6ded62) center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url(/fonts/slick.eot?ced611daf7709cc778da928fec876475);
  src: url(/fonts/slick.eot?ced611daf7709cc778da928fec876475) format("embedded-opentype"), url(/fonts/slick.woff?b7c9e1e479de3b53f1e4e30ebac2403a) format("woff"), url(/fonts/slick.ttf?d41f55a78e6f49a5512878df1737e58a) format("truetype"), url(/fonts/slick.svg?f97e3bbf73254b0112091d0192f17aec) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "\2190";
}

[dir=rtl] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "\2192";
}

[dir=rtl] .slick-next:before {
  content: "\2190";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.recover-container {
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 600px;
  height: 400px;
}

.recover-container form {
  height: inherit;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.recover-container form #text-header h1 {
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: bold;
}

.recover-container form #email-input .help {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.recover-container form #email-input .error {
  width: 100%;
  margin-left: 150px;
  text-align: left;
  font-size: 12px;
  color: crimson;
  font-weight: bold;
}

.recover-container form #email-input .error img {
  width: 14px;
  margin-right: 5px;
}

.recover-container form #email-input input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 10px auto;
  width: 50%;
  display: block;
}

.recover-container form #reset-submit {
  padding: 0;
  margin: 0;
}

.recover-container form #reset-submit #recover-button {
  margin: auto;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.recover-container form #reset-submit:active {
  transform: scale(0.95);
}

.recover-container form #reset-submit:focus {
  outline: none;
}

.recover-container form #reset-submit.ghost {
  background-color: transparent;
  border-color: white;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.password-container {
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 600px;
  height: 400px;
}

.password-container form {
  height: inherit;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.password-container form #text-header h1 {
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: bold;
}

.password-container form #password-input .help {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.password-container form #password-input .error {
  width: 100%;
  margin-left: 150px;
  text-align: left;
  font-size: 12px;
  color: crimson;
  font-weight: bold;
}

.password-container form #password-input .error img {
  width: 14px;
  margin-right: 5px;
}

.password-container form #password-input input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 10px auto;
  width: 50%;
  display: block;
}

.password-container form #password-submit {
  padding: 0;
  margin: 0;
}

.password-container form #password-submit #password-button {
  margin: auto;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.password-container form #password-submit:active {
  transform: scale(0.95);
}

.password-container form #password-submit:focus {
  outline: none;
}

.password-container form #password-submit.ghost {
  background-color: transparent;
  border-color: white;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.container {
  margin: 80px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.container .form-container form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container .form-container form h1 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.container .form-container form a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.container .form-container form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 1px;
}

.container .form-container form .error {
  display: none;
  width: 100%;
  margin: 0px;
  text-align: left;
  font-size: 12px;
  color: crimson;
  font-weight: bold;
}

.container .form-container form .error img {
  width: 14px;
  margin-right: 5px;
}

.container .form-container form button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.container .form-container form button:active {
  transform: scale(0.95);
}

.container .form-container form button:focus {
  outline: none;
}

.container .form-container form button.ghost {
  background-color: transparent;
  border-color: white;
}

.container .form-container form #sign-up-button {
  margin-top: 10px;
}

.container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container .overlay-container .overlay {
  background: #cef048;
  background: linear-gradient(to right, #1cbbb4, #cef048);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container .overlay-container .overlay .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container .overlay-container .overlay .overlay-panel h1 {
  font-weight: bold;
  margin: 0;
}

.container .overlay-container .overlay .overlay-panel p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container .overlay-container .overlay .overlay-panel button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.container .overlay-container .overlay .overlay-panel button:active {
  transform: scale(0.95);
}

.container .overlay-container .overlay .overlay-panel button:focus {
  outline: none;
}

.container .overlay-container .overlay .overlay-panel button.ghost {
  background-color: transparent;
  border-color: white;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.overlay-panel.overlay-left {
  transform: translateX(-20%);
}

.overlay-panel.overlay-right {
  right: 0;
  transform: translateX(0);
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.reset-container {
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 600px;
  height: 400px;
}

.reset-container form {
  height: inherit;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.reset-container form #text-header h1 {
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: bold;
}

.reset-container form #key-input .help {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.reset-container form #key-input .error {
  width: 100%;
  margin-left: 200px;
  text-align: left;
  font-size: 12px;
  color: crimson;
  font-weight: bold;
}

.reset-container form #key-input .error img {
  width: 14px;
  margin-right: 5px;
}

.reset-container form #key-input #recovery-key {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 10px auto;
  width: 25%;
  display: block;
}

.reset-container form #key-submit {
  padding: 0;
  margin: 0;
}

.reset-container form #key-submit #key-button {
  margin: auto;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.reset-container form #key-submit:active {
  transform: scale(0.95);
}

.reset-container form #key-submit:focus {
  outline: none;
}

.reset-container form #key-submit.ghost {
  background-color: transparent;
  border-color: white;
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: "Montserrat", sans-serif;
}

#slideshow {
  margin-top: 5px;
}

#slideshow .slick .content a img {
  width: 100%;
}

