@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
}

body {
  margin: 0 10px;
  padding: 0;
}
body .main-nav {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 16fr 2fr;
  margin: 0 auto;
  border-bottom: 3px solid #cef048;
}
body .main-nav .logo_div .logo {
  margin-left: 20px;
  width: 70px;
  height: 70px;
}
body .main-nav .logo_div .logo a {
  display: inline;
}
body .main-nav .logo_div .logo a img {
  width: 200%;
}
body .main-nav .navbar ul {
  float: right;
  margin-top: 0;
  margin-right: 50px;
}
body .main-nav .navbar ul li {
  float: left;
  width: 120px;
  text-align: center;
  list-style: none;
  line-height: 70px;
}
body .main-nav .navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .navbar ul li a button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .navbar ul li a:hover {
  color: white;
}
body .main-nav .navbar ul li a:focus {
  outline: none;
}
body .main-nav .navbar ul li:hover {
  background-color: #cef048;
}
body .main-nav .user {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
body .main-nav .user .cart img {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
body .main-nav .user .avatar {
  display: block;
  position: relative;
}
body .main-nav .user .avatar img {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
body .main-nav .user .avatar .avatar-menu {
  display: none;
  position: absolute;
  background-color: #f6f5f7;
  width: 150px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 70px;
  right: 0px;
}
body .main-nav .user .avatar .avatar-menu ul {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #f6f5f7;
}
body .main-nav .user .avatar .avatar-menu ul li {
  position: relative;
  right: 40px;
  width: 150px;
  display: block;
  margin: auto;
  text-align: center;
  list-style: none;
  line-height: 50px;
}
body .main-nav .user .avatar .avatar-menu ul li #user-name {
  margin: 0px 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #cef048;
}
body .main-nav .user .avatar .avatar-menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .user .avatar .avatar-menu ul li a:hover {
  font-size: 14px;
}
body .main-nav .user .avatar .avatar-menu ul li a:focus {
  outline: none;
}
body .main-nav .user .avatar .avatar-menu ul li button {
  width: 120px;
  border-radius: 10px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .user .avatar .avatar-menu ul li button:active {
  transform: scale(0.95);
}
body .main-nav .user .avatar .avatar-menu ul li button:focus {
  outline: none;
}
body .main-nav .user .avatar .avatar-menu ul li button.ghost {
  background-color: transparent;
  border-color: white;
}
body .main-nav .user .avatar:hover .avatar-menu {
  display: block;
}

body {
  background-color: #f6f5f7;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
}
body .wrapper {
  margin: 20px 12.5%;
}
body .wrapper #search-section {
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .wrapper #search-section #discover {
  font-size: 24px;
}
body .wrapper #search-section .search {
  margin-top: 15px;
  float: right;
  position: relative;
}
body .wrapper #search-section .search #search-bar {
  border: solid 3px black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  height: 40px;
  width: 250px;
  position: absolute;
  right: 0px;
  font-size: 16px;
}
body .wrapper #search-section .search #search-button {
  position: absolute;
  right: 0px;
  z-index: 1;
  background-color: white;
  height: 40px;
  width: 45px;
  border: solid 3px black;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
body .wrapper #search-section .search #search-button img {
  margin-top: 7.5%;
  width: 90%;
  height: 80%;
}
body .wrapper #search-section .search #search-bar:focus {
  box-shadow: 0 0 10px #cef048;
  color: #1cbbb4;
}
body .wrapper #slick-slider {
  margin: auto;
  width: 90%;
  border: 3px solid #cef048;
  border-radius: 5px;
}
body .wrapper #slick-slider #slider {
  width: 100%;
  display: flex;
}
body .wrapper #slick-slider #slider #img-slider {
  width: 60%;
}
body .wrapper #slick-slider #slider #img-slider img {
  width: 100%;
}
body .wrapper #slick-slider #slider #about {
  position: relative;
  width: 40%;
  background-color: white;
}
body .wrapper #slick-slider #slider #about #text-slider {
  position: relative;
  padding: 10%;
  padding-top: 15%;
  color: black;
  height: 100%;
}
body .wrapper #slick-slider #slider #about #text-slider .slick-list {
  height: 100%;
}
body .wrapper #slick-slider #slider #about #text-slider .slick-list .slick-track {
  height: 100%;
}
body .wrapper #slick-slider #slider #about #text-slider .slickArrow {
  position: absolute;
  top: 8%;
  left: 7.5%;
  width: 20%;
  cursor: pointer;
}
body .wrapper #slick-slider #slider #about #text-slider .slickArrow img {
  width: 25px;
  height: 25px;
}
body .wrapper #slick-slider #slider #about #text-slider .slickArrow-next {
  left: 22.5%;
}
body .wrapper #slick-slider #slider #about #text-slider .slick-dots {
  position: absolute;
  top: 10%;
  right: 7.5%;
  width: 50%;
}
body .wrapper #slick-slider #slider #about #text-slider .slick-dots li {
  float: right;
}
body .wrapper #slick-slider #slider #about #text-slider .slick-dots li button::before {
  font-size: 50px;
}
body .wrapper #slick-slider #slider #about .learn-more {
  position: absolute;
  bottom: 0%;
  z-index: 1;
  text-decoration: none;
  width: auto;
  height: 25px;
  cursor: pointer;
}
body .wrapper #slick-slider #slider #about .learn-more h5 {
  position: relative;
  font-size: 16px;
  display: block;
  width: auto;
  height: 25px;
  margin-top: 0px;
  color: black;
  display: inline-block;
}
body .wrapper #slick-slider #slider #about .learn-more h5 img {
  position: absolute;
  right: -25px;
  top: 0px;
  width: 20px;
  height: 20px;
}
body .wrapper #slick-slider #slider #about .learn-more h5 img:hover {
  width: 25px;
  height: 25px;
}
body .wrapper #slick-slider #slider #about .learn-more:hover img {
  right: -30px;
}
body .wrapper .product-demo {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 6fr;
  width: 100%;
}
body .wrapper .product-demo .section-title {
  width: 100%;
}
body .wrapper .product-demo .section-title .title {
  float: left;
  margin-left: 1.75%;
}
body .wrapper .product-demo .section-title .show-more {
  float: right;
  margin-right: 1.75%;
  margin-top: 1%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  height: 40px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  padding-top: 7.5px;
  font-size: 17px;
  font-weight: bold;
}
body .wrapper .product-demo .section-title .show-more:focus {
  box-shadow: 0 0 10px #cef048;
}
body .wrapper .product-demo .product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body .wrapper .product-demo .product-list .product {
  position: relative;
  width: 90%;
  margin: auto;
  border: 3px solid #cef048;
  height: 450px;
}
body .wrapper .product-demo .product-list .product .product-image {
  width: 100%;
}
body .wrapper .product-demo .product-list .product .product-name {
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 0px;
  padding-left: 10px;
}
body .wrapper .product-demo .product-list .product .product-description {
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 0px;
}
body .wrapper .product-demo .product-list .product .product-price {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #1cbbb4;
  padding-left: 10px;
  margin-top: 5px;
  position: absolute;
  bottom: 0px;
}
body .wrapper .info-demo {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 50px;
}
body .wrapper .info-demo .section-image {
  width: 80%;
  margin: auto;
}
body .wrapper .info-demo .section-text {
  position: relative;
  width: 80%;
  height: 80%;
  color: white;
  margin: auto;
  margin-top: 10%;
}
body .wrapper .info-demo .section-text .section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
body .wrapper .info-demo .section-text .section-description {
  color: #eee;
  font-size: 20px;
}
body .wrapper .info-demo .section-text .learn-more {
  position: absolute;
  bottom: 20%;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  height: 50px;
}
body .wrapper .about-survey {
  background-color: #8ab870;
}
body .wrapper .about-survey .section-text .learn-more {
  background-color: #5f9341;
}
body .wrapper .about-survey .save-coins {
  width: 100%;
}
body .wrapper .future-update {
  background-color: #FF4B2B;
}
body .wrapper .future-update .section-text .learn-more {
  background-color: #da3f24;
}
body .wrapper .future-update .card-images {
  width: 100%;
}

.mainCopyright {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #1cbbb4;
}
.mainCopyright p {
  position: absolute;
  width: 100%;
  color: white;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
}

/*# sourceMappingURL=home.css.map */
