@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

body {
  margin: 0 10px;
  padding: 0;
}
body .main-nav {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 16fr 2fr;
  margin: 0 auto;
  border-bottom: 3px solid #cef048;
}
body .main-nav .logo_div .logo {
  margin-left: 20px;
  width: 70px;
  height: 70px;
}
body .main-nav .logo_div .logo a {
  display: inline;
}
body .main-nav .logo_div .logo a img {
  width: 200%;
}
body .main-nav .navbar ul {
  float: right;
  margin-top: 0;
  margin-right: 50px;
}
body .main-nav .navbar ul li {
  float: left;
  width: 120px;
  text-align: center;
  list-style: none;
  line-height: 70px;
}
body .main-nav .navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .navbar ul li a button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .navbar ul li a:hover {
  color: white;
}
body .main-nav .navbar ul li a:focus {
  outline: none;
}
body .main-nav .navbar ul li:hover {
  background-color: #cef048;
}
body .main-nav .user {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
body .main-nav .user .cart img {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
body .main-nav .user .avatar {
  display: block;
  position: relative;
}
body .main-nav .user .avatar img {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
body .main-nav .user .avatar .avatar-menu {
  display: none;
  position: absolute;
  background-color: #f6f5f7;
  width: 150px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 70px;
  right: 0px;
}
body .main-nav .user .avatar .avatar-menu ul {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #f6f5f7;
}
body .main-nav .user .avatar .avatar-menu ul li {
  position: relative;
  right: 40px;
  width: 150px;
  display: block;
  margin: auto;
  text-align: center;
  list-style: none;
  line-height: 50px;
}
body .main-nav .user .avatar .avatar-menu ul li #user-name {
  margin: 0px 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #cef048;
}
body .main-nav .user .avatar .avatar-menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .user .avatar .avatar-menu ul li a:hover {
  font-size: 14px;
}
body .main-nav .user .avatar .avatar-menu ul li a:focus {
  outline: none;
}
body .main-nav .user .avatar .avatar-menu ul li button {
  width: 120px;
  border-radius: 10px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .user .avatar .avatar-menu ul li button:active {
  transform: scale(0.95);
}
body .main-nav .user .avatar .avatar-menu ul li button:focus {
  outline: none;
}
body .main-nav .user .avatar .avatar-menu ul li button.ghost {
  background-color: transparent;
  border-color: white;
}
body .main-nav .user .avatar:hover .avatar-menu {
  display: block;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.container {
  margin: 80px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.container .form-container form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.container .form-container form h1 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.container .form-container form a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.container .form-container form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 1px;
}
.container .form-container form .error {
  display: none;
  width: 100%;
  margin: 0px;
  text-align: left;
  font-size: 12px;
  color: crimson;
  font-weight: bold;
}
.container .form-container form .error img {
  width: 14px;
  margin-right: 5px;
}
.container .form-container form button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.container .form-container form button:active {
  transform: scale(0.95);
}
.container .form-container form button:focus {
  outline: none;
}
.container .form-container form button.ghost {
  background-color: transparent;
  border-color: white;
}
.container .form-container form #sign-up-button {
  margin-top: 10px;
}
.container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container .overlay-container .overlay {
  background: #cef048;
  background: -webkit-linear-gradient(to right, #1cbbb4, #cef048);
  background: linear-gradient(to right, #1cbbb4, #cef048);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container .overlay-container .overlay .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container .overlay-container .overlay .overlay-panel h1 {
  font-weight: bold;
  margin: 0;
}
.container .overlay-container .overlay .overlay-panel p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.container .overlay-container .overlay .overlay-panel button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.container .overlay-container .overlay .overlay-panel button:active {
  transform: scale(0.95);
}
.container .overlay-container .overlay .overlay-panel button:focus {
  outline: none;
}
.container .overlay-container .overlay .overlay-panel button.ghost {
  background-color: transparent;
  border-color: white;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.overlay-panel.overlay-left {
  transform: translateX(-20%);
}

.overlay-panel.overlay-right {
  right: 0;
  transform: translateX(0);
}

button {
  cursor: pointer;
}

/*# sourceMappingURL=registration.css.map */
