@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

body {
  margin: 0 10px;
  padding: 0;
}
body .main-nav {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 16fr 2fr;
  margin: 0 auto;
  border-bottom: 3px solid #cef048;
}
body .main-nav .logo_div .logo {
  margin-left: 20px;
  width: 70px;
  height: 70px;
}
body .main-nav .logo_div .logo a {
  display: inline;
}
body .main-nav .logo_div .logo a img {
  width: 200%;
}
body .main-nav .navbar ul {
  float: right;
  margin-top: 0;
  margin-right: 50px;
}
body .main-nav .navbar ul li {
  float: left;
  width: 120px;
  text-align: center;
  list-style: none;
  line-height: 70px;
}
body .main-nav .navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .navbar ul li a button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .navbar ul li a:hover {
  color: white;
}
body .main-nav .navbar ul li a:focus {
  outline: none;
}
body .main-nav .navbar ul li:hover {
  background-color: #cef048;
}
body .main-nav .user {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
body .main-nav .user .cart img {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
body .main-nav .user .avatar {
  display: block;
  position: relative;
}
body .main-nav .user .avatar img {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
body .main-nav .user .avatar .avatar-menu {
  display: none;
  position: absolute;
  background-color: #f6f5f7;
  width: 150px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 70px;
  right: 0px;
}
body .main-nav .user .avatar .avatar-menu ul {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #f6f5f7;
}
body .main-nav .user .avatar .avatar-menu ul li {
  position: relative;
  right: 40px;
  width: 150px;
  display: block;
  margin: auto;
  text-align: center;
  list-style: none;
  line-height: 50px;
}
body .main-nav .user .avatar .avatar-menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .user .avatar .avatar-menu ul li a:hover {
  font-size: 14px;
}
body .main-nav .user .avatar .avatar-menu ul li a:focus {
  outline: none;
}
body .main-nav .user .avatar:hover .avatar-menu {
  display: block;
}

.reset-container {
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 600px;
  height: 400px;
}
.reset-container form {
  height: inherit;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.reset-container form #text-header h1 {
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: bold;
}
.reset-container form #key-input .help {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.reset-container form #key-input .error {
  width: 100%;
  margin-left: 200px;
  text-align: left;
  font-size: 12px;
  color: crimson;
  font-weight: bold;
}
.reset-container form #key-input .error img {
  width: 14px;
  margin-right: 5px;
}
.reset-container form #key-input #recovery-key {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 10px auto;
  width: 25%;
  display: block;
}
.reset-container form #key-submit {
  padding: 0;
  margin: 0;
}
.reset-container form #key-submit #key-button {
  margin: auto;
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.reset-container form #key-submit:active {
  transform: scale(0.95);
}
.reset-container form #key-submit:focus {
  outline: none;
}
.reset-container form #key-submit.ghost {
  background-color: transparent;
  border-color: white;
}

/*# sourceMappingURL=reset.css.map */
