@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 10px;
  padding: 0;
}
body .main-nav {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 16fr 2fr;
  margin: 0 auto;
  border-bottom: 3px solid #cef048;
}
body .main-nav .logo_div .logo {
  margin-left: 20px;
  width: 70px;
  height: 70px;
}
body .main-nav .logo_div .logo a {
  display: inline;
}
body .main-nav .logo_div .logo a img {
  width: 200%;
}
body .main-nav .navbar ul {
  float: right;
  margin-top: 0;
  margin-right: 50px;
}
body .main-nav .navbar ul li {
  float: left;
  width: 120px;
  text-align: center;
  list-style: none;
  line-height: 70px;
}
body .main-nav .navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .navbar ul li a button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .navbar ul li a:hover {
  color: white;
}
body .main-nav .navbar ul li a:focus {
  outline: none;
}
body .main-nav .navbar ul li:hover {
  background-color: #cef048;
}
body .main-nav .user {
  height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
body .main-nav .user .cart img {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
body .main-nav .user .avatar {
  display: block;
  position: relative;
}
body .main-nav .user .avatar img {
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
body .main-nav .user .avatar .avatar-menu {
  display: none;
  position: absolute;
  background-color: #f6f5f7;
  width: 150px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 70px;
  right: 0px;
}
body .main-nav .user .avatar .avatar-menu ul {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #f6f5f7;
}
body .main-nav .user .avatar .avatar-menu ul li {
  position: relative;
  right: 40px;
  width: 150px;
  display: block;
  margin: auto;
  text-align: center;
  list-style: none;
  line-height: 50px;
}
body .main-nav .user .avatar .avatar-menu ul li #user-name {
  margin: 0px 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #cef048;
}
body .main-nav .user .avatar .avatar-menu ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
}
body .main-nav .user .avatar .avatar-menu ul li a:hover {
  font-size: 14px;
}
body .main-nav .user .avatar .avatar-menu ul li a:focus {
  outline: none;
}
body .main-nav .user .avatar .avatar-menu ul li button {
  width: 120px;
  border-radius: 10px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
body .main-nav .user .avatar .avatar-menu ul li button:active {
  transform: scale(0.95);
}
body .main-nav .user .avatar .avatar-menu ul li button:focus {
  outline: none;
}
body .main-nav .user .avatar .avatar-menu ul li button.ghost {
  background-color: transparent;
  border-color: white;
}
body .main-nav .user .avatar:hover .avatar-menu {
  display: block;
}

body {
  background-color: #f6f5f7;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
}
body .wrapper {
  margin: 20px 12.5%;
}
body .wrapper #search-section {
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}
body .wrapper #search-section .search {
  margin-top: 15px;
  float: right;
  position: relative;
}
body .wrapper #search-section .search #search-bar {
  border: solid 3px black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  height: 40px;
  width: 250px;
  position: absolute;
  right: 0px;
  font-size: 16px;
}
body .wrapper #search-section .search #search-button {
  position: absolute;
  right: 0px;
  z-index: 1;
  background-color: white;
  height: 40px;
  width: 45px;
  border: solid 3px black;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
body .wrapper #search-section .search #search-button img {
  margin-top: 7.5%;
  width: 90%;
  height: 80%;
}
body .wrapper #search-section .search #search-bar:focus {
  box-shadow: 0 0 10px #cef048;
  color: #1cbbb4;
}
body .wrapper #all-product .sort #sort-product {
  border: none;
  background-color: #f6f5f7;
  padding: 5px;
  font-size: 16px;
}
body .wrapper #all-product .product-show {
  display: grid;
  grid-template-columns: 8fr 2fr;
}
body .wrapper #all-product .product-show .all-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.mainCopyright {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #1cbbb4;
}
.mainCopyright p {
  position: absolute;
  width: 100%;
  color: white;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
}

/*# sourceMappingURL=store.css.map */
