.mainCopyright {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: $snakeOutline;
    p {
        position: absolute;
        width: 100%;
        color: white;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
        bottom: 0;
    }
}