body {
    margin: 0 10px;
    padding: 0;
    .main-nav {
        height: 70px;
        display: grid;
        grid-template-columns: 2fr 16fr 2fr;
        margin: 0 auto;
        border-bottom: 3px solid $snakeColor;
        .logo_div {
            .logo {
                margin-left: 20px;
                width: 70px;
                height: 70px;
                a {
                    display: inline;
                    img {
                        width: 200%;
                    }
                }
            }
        }
        .navbar {
            ul {
                float: right;
                margin-top: 0;
                margin-right: 50px;
                li {
                    float: left;
                    width: 120px;
                    text-align: center;
                    list-style: none;
                    line-height: 70px;
                    a {
                        text-decoration: none;
                        color: black;
                        text-transform: uppercase;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: bold;
                        display: block;
                        button {
                            border-radius: 20px;
                            border: 1px solid $signButton;
                            background-color: $signButton;
                            color: white;
                            font-size: 12px;
                            font-weight: bold;
                            padding: 12px 45px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            transition: transform 80ms ease-in;
                        }
                    }
                    a:hover {
                        color: white;
                    }
                    a:focus {
                        outline: none;
                    }
                }
                li:hover {
                    background-color: $snakeColor;
                }
            }
        }
        .user {
            height: 70px;
            display: grid;
            grid-template-columns: 2fr 3fr;
            .cart {
                img {
                    width: 50px;
                    height: 50px;
                    float: right;
                    margin-top: 10px;
                    margin-right: 20px;
                }
            }
            .avatar {
                display: block;
                position: relative;
                img {
                    width: 60px;
                    height: 60px;
                    float: right;
                    margin-right: 20px;
                    margin-top: 5px;
                }
                .avatar-menu {
                    display: none;
                    position: absolute;
                    background-color: $background;
                    width: 150px;
                    height: auto;
                    box-shadow: 0px 8px 16px 0px rgba(black, 0.5);
                    z-index: 1;
                    top: 70px;
                    right: 0px;
                    ul {
                        display: block;
                        margin: 0;
                        width: 100%;
                        background-color: $background;
                        li {
                            position: relative;
                            right: 40px;
                            width: 150px;
                            display: block;
                            margin: auto;
                            text-align: center;
                            list-style: none;
                            line-height: 50px;
                            #user-name {
                                margin: 0px 20px;
                                font-weight: bold;
                                text-align: left;
                                border-bottom: 1px solid $snakeColor;
                            }
                            a {
                                text-decoration: none;
                                color: black;
                                text-transform: uppercase;
                                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                font-weight: bold;
                                display: block;
                            }
                            a:hover {
                                font-size: 14px;
                            }
                            a:focus {
                                outline: none;
                            }
                            button {
                                width: 120px;
                                border-radius: 10px;
                                border: 1px solid $signButton;
                                background-color: $signButton;
                                color: white;
                                font-size: 12px;
                                font-weight: bold;
                                padding: 10px 10px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                transition: transform 80ms ease-in;
                            }
                            button:active {
                                transform: scale(0.95);
                            }
                            button:focus {
                                outline: none;
                            }
                            button.ghost {
                                background-color: transparent;
                                border-color: white;
                            }
                        }
                    }
                }
            }
            .avatar:hover {
                .avatar-menu {
                    display: block;
                }
            }
        }
    }
}