.password-container {
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 600px;
    height: 400px;
    form {
        height: inherit;
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        #text-header {
            h1 {
                margin-top: 60px;
                margin-bottom: 0;
                font-weight: bold;
            }
        }
        #password-input {
            .help {
                width: 60%;
                text-align: center;
                margin: auto;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            .error {
                width: 100%;
                margin-left: 150px;
                text-align: left;
                font-size: 12px;
                color: crimson;
                font-weight: bold;
                img {
                    width: 14px;
                    margin-right: 5px;
                }
            }
            input {
                background-color: $inputColor;
                border: none;
                padding: 12px 15px;
                margin: 10px auto;
                width: 50%;
                display: block;
            }
        }
        #password-submit {
            padding: 0;
            margin: 0;
            #password-button {
                margin: auto;
                border-radius: 20px;
                border: 1px solid $signButton;
                background-color: $signButton;
                color: white;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
            }
            &:active {
                transform: scale(0.95);
            }
            &:focus {
                outline: none;
            }
            &.ghost {
                background-color: transparent;
                border-color: white;
            }
        }
    }
}