body {
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    .wrapper {
        margin: 20px 12.5%;
        #search-section {
            width: 90%;
            margin: auto;
            margin-bottom: 15px;
            .search {
                margin-top: 15px;
                float: right;
                position: relative;
                #search-bar {
                    border: solid 3px black;
                    border-radius: 5px;
                    padding: 5px;
                    padding-left: 10px;
                    height: 40px;
                    width: 250px;
                    position: absolute;
                    right: 0px;
                    font-size: 16px;
                }
                #search-button {
                    position: absolute;
                    right: 0px;
                    z-index: 1;
                    background-color: white;
                    height: 40px;
                    width: 45px;
                    img {
                        margin-top: 7.5%;
                        width: 90%;
                        height: 80%;
                    }
                    border: solid 3px black;
                    border-left: none;
                    border-radius: 0px 5px 5px 0px;
                    cursor: pointer;
                }
                #search-bar:focus {
                    box-shadow: 0 0 10px $snakeColor;
                    color: $snakeOutline;
                }
            }
        }
        #all-product {
            .sort {
                #sort-product {
                    border: none;
                    background-color: $background;
                    padding: 5px;
                    font-size: 16px;
                }
            }
            .product-show {
                display: grid;
                grid-template-columns: 8fr 2fr;
                .product-nav {}
                .all-product-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }
}